.heroSection{
    -webkit-text-size-adjust: 100%;
    line-height: 20px;
    color: #000000;
    font-size: 10px;
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    min-height: 90vh;
    background-image: url("https://i.postimg.cc/qqy9J5cF/Untitled-design-5.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.btnn{
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
    height: 3.2em;
    padding: 1em 1.2em 2.8em;
    transition: all 200ms cubic-bezier(.47, 0, .745, .715);
    font-size: 14px;
    background-color: rgba(71, 160, 237, 0.75);

    padding: .5rem 1rem;
  font-family: "poppins";
  border: none;
  outline: none;
  background-color: #fff;
  color: #2ecaf7;
  font-weight: 400;
border-radius: 6px;
box-shadow: rgba(255, 0, 0, 0.24) 0px 3px 8px;

}
.btnn:hover{
    
  font-weight: 600;
  border-radius: 6px;
  box-shadow: rgb(255, 0, 0) 0px 3px 8px;
}
.idd{
    border-radius: 6px;

    
  color: #2ecaf7 !important; 
box-shadow: rgba(255, 0, 0, 0.24) 0px 3px 8px;
}

.idd:hover{
    
  box-shadow: rgb(255, 0, 0) 0px 3px 8px;
}
.idd::placeholder {
    color: red;
    opacity: 1; /* Firefox */
  }
  